<footer class="container-fluid text-primary ">
	<div class="row bg-image">
		<section class="col foot">
			<h5>Informations</h5>
      <ul>
        <li class="cont"><a href="{{ path('app_page', {slug: '#paiements' }) }}" class="cont">Paiement & livraison</a></li>
        <li class="cont"><a href="{{ path('app_page', {slug: '#conditions' }) }}" class="cont">Conditions d'utilisation</a></li>
        <li class="cont"><a href="{{ path('app_page', {slug: '#propos' }) }}" class="cont">A propos</a></li>
        <li class="cont"><a href="{{ path('app_page', {slug: '#nouveaute' }) }}" class="cont">Nouveautés</a></li>
        <li class="cont"><a href="{{ path('app_page', {slug: '#personnaliser' }) }}" class="cont">Personnalisation</a></li>
      </ul>
       <br>
		</section>

		<section class="col foot">
      <h5>Ndeye Daouba Creation</h5>
			<h5>Contact</h5>
      <p>Contactez nous</p>
        <a href="mailto:fngalmaktum@gmail.com"><button>Your mail.....</button></a>
        <br>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
         <br>
		</section>
     <br><br>
	</div>
  <div class="card-footer text-muted footer-bottom">
    copyright &copy; Ndeye Daouba Creation | Design by niangbalo 
  </div>
</footer>